#titleBar {
  background: #13253A !important;
}
/** mobile logo */
#titleBar .title {
  width: 215px;
  height: 34px;
  background: url(/media/biothermica-logo-and-text-360x57.png) no-repeat;
  background-size: 215px 34px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
@media (min-width: 980px) {
  #titleBar {
    height: 70px;
  }
  #titleBar .title {
    width: 360px;
    height: 57px;
    background: url(/media/biothermica-logo-and-text-360x57.png) no-repeat;
    background-size: 360px 57px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  #titleBar .toggle:before {
    font-size: 40px;
    padding: 10px 40px;
  }
}
/** desktop logo */
#logo {
  width: 360px;
  height: 57px;
  display: block;
  background: url(/media/biothermica-logo-and-text-360x57.png) no-repeat;
}
/** header taller to accomodate logo */
#header .inner {
  height: 120px;
}
#nav {
  top: 60px !important;
  /** center nav */
  left: 0 !important;
  right: 0 !important;
  margin-inline: auto !important;
  width: fit-content !important;
}
@media (min-width: 981px) {
}
/** No shadow on nav */
#nav a {
  text-shadow: none !important;
}
/** Apply only to top level */
#nav > ul > li > a {
  color: #C5DCE4 !important;
}
#header-wrapper.homepage-header {
  background: url('/media/air-1-bg.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 !important;
}
#header-wrapper.homepage-header .header-wrapper-filter {
  backdrop-filter: blur(5px) brightness(50%) !important;
  padding: 44px 0 0 0 !important;
}
/** Sinon le menu va sur deux lignes */
#nav > ul > li > a, #nav > ul > li > span {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

#nav > ul > li > a, #nav > ul > li > span {
  letter-spacing: 0em;
  font-size: 0.8em;
}
@media (min-width: 1172px) {
  #nav > ul > li > a, #nav > ul > li > span {
    padding-left: 0.3em;
    padding-right: 0.3em;
    letter-spacing: 0.075em;
    font-size: 0.95em;
  }
}
.my-icon {
  font-size: 2.5em;
}
.banner-image-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.title-wrapper {
  padding: 50px 0 0 0;
}
.content-wrapper {
  padding: 0 0 50px 0;
}
.hexagon {
  width: 211.2px;
  height: 240px;
  background: #E2EEF2;
  clip-path: polygon(
    50% 100%,
    0% 75%,
    0% 25%,
    50% 0%,
    100% 25%,
    100% 75%
  );
}
.my-container-header {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
}
#footer-wrapper {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0,.95), rgba(0,0,0,.6)), url('/media/flame.png');
  background-size: auto;
  background-position: bottom left;
}
#main-wrapper {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,0)), url('/media/flame-light-blue.png');
  background-size: 350px 553.8px;
  background-position: bottom left;
}
