.my-slide {
  background-size: cover;
  background-position: center;
}
#banner {
  padding: 0 !important;
}
.splide__slide {
  padding: 9em 0 6em 0;
}
#banner h2 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #133178;
}
#banner, .splide__list {
  min-height: 500px;
}
.splide__slide h2 {
  text-transform: none;
  font-family: Helvetica, sans-serif;
  font-weight: 700 !important;
  font-size: 5.5em !important;
  border: 0 !important;
}
