.my-slide {
  background-size: cover;
  background-position: center;
}
#banner {
  padding: 0 !important;
}
.splide__slide {
  padding: 9em 0 6em 0;
}
#banner h2 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #133178;
}
#banner h2:after,
#banner h2:before {
  border: none !important;
}
#banner, .splide__list {
  min-height: 500px;
}
.splide__slide h2 {
  text-transform: none;
  font-family: Helvetica, sans-serif;
  font-weight: 700 !important;
  font-size: 6em !important;
  border: 0 !important;
  color: rgba(255,255,255,.9)!important;
  line-height: 80px !important;
  text-shadow: 0 0 8px rgba(0,0,0,0.8), 0 0 20px rgba(0,0,0,0.6);
}
